.header {
  box-shadow: var(--shadow);
  background-color: var(--colors-ui-base);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  &__title {
    color: var(--colors-text);
    font-size: var(--fs-sm);
    text-decoration: none;
    font-weight: var(--fw-bold);
  }
  &__switcher {
    color: var(--colors-text);
    font-size: var(--fs-sm);
    cursor: pointer;
    // font-weight: var(--fw-bold);
    text-transform: capitalize;
  }
}
